* {
	margin: 0;
	padding: 0;
}

header {
	align-items: center;
	box-shadow: 0 4px 8px 0 black;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 10px 5px;
	width: calc(100% - 10px);

	& h1 {
		margin: 0 10px;
	}
}

h1 {
	font-size: 3vw;
	margin-block-start: 0.2em;
}

body {
	align-items: center;
	background-color: darkseagreen;
	display: flex;
	flex-flow: column nowrap;
	font-family: monospace;
	overflow-x: hidden;
	padding-bottom: 40px;
}

.navbar {
	margin: 0 10px;
}

.navButton {
	border: 1px solid black;
	border-radius: 2px;
	color: black;
	padding: 2px;
	text-decoration: none;
}

.form {
	text-align: center;

	&title {
		margin: 5px 0;
	}
}
.back {
  text-align: center;
  text-decoration: none;
}
.but {
  text-align: center;
}

.button {
	background-color: white;
	border: 2px solid green;
	border-radius: 3px;
	box-shadow: 0 3px 0px 0 black;
	color: black;
	cursor: pointer;
	font-family: monospace;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	transition: 400ms ease;

	&:hover {
		box-shadow: 0 1.5px 0px 0 black;
	}
}

#inputField {
	border: 2px solid green;
	font-family: monospace;
	transition: 400ms ease;

	&:focus {
		box-shadow: 2.5px 5px 0px 0 black;
		outline: none;
	}
}

.rainbowContainer {
	bottom: 0;
	left: 0;
	margin: 10px;
	position: fixed;
}

.rainbow {
	margin-top: 10px;
}

.result {
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	margin-top: 20px;
	max-width: 100%;
	text-align: center;
	width: 100%;
}

.textScroll {
	font-size: 6px;
}

